<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Deactivate Survey</title>
<link rel="stylesheet" href="/stylingcss/default.css" />
<style>
table,td,th,tr {
	border: none;
}
</style>
<style>

</style>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
$(function() {
	$("#survey").submit(function(event) {
		event.preventDefault();
		var SurveyObj = {
				id : $("#sid").val(),
				surveyName : $("#name").val()
		}
		var SurveyObjAsJson = JSON.stringify(SurveyObj);
		alert(SurveyObjAsJson);
		$.ajax( {
			url : "/survey/deactivate",
			type : "POST",
			data : SurveyObjAsJson,
			contentType : "application/json",
			success : function(response, status) {
				alert(response);
				location.reload();
			}
		})
	})
})
</script>
</head>
<body>
	<div id="main">
		<h1>All Surveys</h1>
		<hr />
		<table>	
			<tr th:each="survey : ${surveys}">
				<form id="survey"
   					onsubmit="return confirm('Do you really want to deactivate the survey?');"  >
				<td><input type="text" th:value="${survey.id}" readonly="readonly" name="id" id="sid"/></td>			
				<td><input type="text" th:value="${survey.surveyName}" readonly="readonly" name="surveyName" id="name"/></td>
				<td><button type="submit">Deactivate</button></td>
				</form>
			</tr>
			</form> 
		</table>
	</div>
</body>
</html>