<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Survey Details</title>
<link rel="stylesheet" href="/stylingcss/default.css" />
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
</head>
<body>
<div id="main">
	<table>
		<tr>
			<th>Survey-Id</th>
			<td th:text="${curSurvey.Id}"></td>
		</tr>
		<tr>
			<th>Survey Name</th>
			<td th:text="${curSurvey.surveyName}"></td>
		</tr>
	</table>
	<br/>
	<br/>
	<table>
		<tr>
			<th>Questions</th>
		</tr>
		 	<tr th:each="question  : ${curSurvey.questions}">	
				<td th:text="${question.questionText}"></td>		
			</tr> 
	</table>
</div>
</body>
</html>